@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: rgb(119,161,211);
	background: linear-gradient(0deg, rgba(119,161,211,1) 0%, rgba(121,203,202,1) 50%, rgba(230,132,174,1) 100%);
}

.container {
	background: rgb(255, 255, 255, 0.24);
	border-radius: 16px;
	padding: 20px 30px;
	border: 2px solid black;
	text-align: center;
	min-width: 400px;
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}

.container i {
	font-size: 100px;
	margin-bottom: 10px;
}

h1 {
	font-size: 28px;
	margin-bottom: 20px;
	color: #333;
}

label {
	text-align: left;
	font-size: 15px;
	font-weight: 500;
	margin: 10px 0;
	display: block;
}

input, textarea {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	border: 2px solid black;
	border-radius: 5px;
	font-size: 14px;
	color: black;
	background-color: transparent;
	font-weight: 500;
}

input::placeholder {
	color: #222;
}

.buttons {
	display: flex;
	gap: 10px;
}

button {
	width: 100%;
	color: black;
	border: 2px solid black;
	border-radius: 5px;
	padding: 8px;
	font-weight: 500;
	background-color: transparent;
	transition: all 0.3s ease;
}

button:hover {
	background-color: black;
	color: white;
}

textarea {
	resize: none;
}